/*  your css code here. If applicable */
.container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
	background-color: black;
	padding:20px;
}

.square {
  width: 17px;
  height: 17px;
  background-color: rgb(29, 29, 29);
  margin: 2px;
  transition: background-color 1s ease;
}

.square:hover {
  background-color: #f00;
}
